body {
    background-color: black;
    color: green;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

label
{
    /*Mantendo label com mesmo tamanho e alinhado*/
    width: 130px;
    text-align: right;
    display: inline-block;
}

input:focus
{
    /*Dar destaque para o campo selecionado*/
    border-color: black;
}

input{
    /*Espaçar os campos*/
    height: 20px;
    margin-bottom: 5px;
}
/*form {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 700px;
    margin: auto;
    color: black;
}*/

main {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 600px;
    margin: auto;
    color: black;
    box-shadow: 3px 3px green;
}

footer {
    color: white;
}

div.serv {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    width: 400px;
    margin: auto;
    color: black;
    box-shadow: 3px 3px green;
}

div.esquerda {
    width: 49%;
    float: left;
    text-align: center;
}

div.direita {
    width: 49%;
    text-align: center;
    float: right;
}

div#saldo {
    width: 19%;
    text-align: center;
    float: right;
}

a:link {
    color: green;
}